.hidden {
	display: none;
}

#player-list {
	li.selected {
		background-color: gray;
	}

	button {
		background-color: var(--bg);
		color: var(--fg);
	}
}

button,
input[type="color"] {
	cursor: pointer;
}

.img-container {
	position: relative;

	img {
		position: absolute;
		top: 0;
		left: 0;
	}
}
